<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesindex.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
    <title>Index - Violetas</title>
    
</head>
<body>
    


    <script src="https://kit.fontawesome.com/f82c10daa4.js" crossorigin="anonymous"></script>
</body>
</html>